@import '../lib/lib-variables';
@import '../lib/lib-mixin';
@import '../lib/lib-reset';
@import '../lib/lib-help';

@font-face
{
    font-family: 'REDOCN';
    font-weight: normal;
    font-style: normal;

    src: url('../../font/REDOCN.eot'); /* IE9 */
    src: url('../../font/REDOCN.eot?#iefix') format('embedded-opentype'),
    url('../../font/REDOCN.woff') format('woff'),
    url('../../font/REDOCN.ttf') format('truetype'),
    url('../../font/REDOCN.svg#REDOCN') format('svg'); /* iOS 4.1- */
}
html
{
    overflow: visible;
}
body
{
    position: static;

    overflow: visible;
}
#root
{
    height: 100%;
    min-height: 100%;
}
.app-wrapper
{
    display: flex;
    overflow: hidden;
    flex-direction: column;

    width: 100%;
    max-width: 7.5rem;
    height: 100%;
    min-height: 100%;
    margin: 0;

    background-color: nth($colorBg, 2);
}

//底部QQ群
.top-wrapper
{
    flex: 1;
}
.bottom-QQqun-remark-con
{
    font-size: 22px;
    line-height: 32px;

    position: relative;

    overflow: hidden;

    height: 64px;

    text-align: center;
    .bottom-remark
    {
        position: absolute;
        z-index: 5;

        user-select: none;

        color: nth($colorText, 2);
    }
    .remark-top
    {
        top: 0;
        left: 50%;

        transform: translate(-50%, 0);
    }
    .remark-bottom
    {
        top: 32px;
        left: 50%;

        transform: translate(-70%, 0);
    }
    .QQqun
    {
        position: absolute;
        z-index: 6;

        display: block;

        width: 100%;
        height: 100%;
        padding-top: 32px;
        padding-left: 65%;

        user-select: text;
        text-align: left;

        color: #f3af00;
    }
}

@import '../common/pop.scss';
@import '../common/popToast.scss';
@import '../common/popGetGold.scss';
@import '../common/popSign.scss';
@import '../common/popSignSucc.scss';
@import '../common/popWeixinSubscribe.scss';

// 小游戏关注面板覆盖
.pop-subscribe
{
    .pop-subscribe-content
    {
        position: fixed;

        transform: translate3d(-50%, -50rem, 0);
    }
}
// 隐藏欢乐豆明细
.pop-body-get-gold .bd-wrp .bd-bg .bd-hd-title .gold-detail-anker
{
    display: none;
}
.pop-body-get-gold .bd-wrp .bd-bg .bd-hd-title .need-gold
{
    float: right;

    margin: 0;
}
